// Titillium Web
@font-face {
  font-family: 'TitilliumWeb-Black';
  src: url('../assets/fonts/Titillium\ Web/TitilliumWeb-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('../assets/fonts/Titillium\ Web/TitilliumWeb-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb-BoldItalic';
  src: url('../assets/fonts/Titillium\ Web/TitilliumWeb-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb-ExtraLight';
  src: url('../assets/fonts/Titillium\ Web/TitilliumWeb-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb-ExtraLightItalic';
  src: url('../assets/fonts/Titillium\ Web/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb-Italic';
  src: url('../assets/fonts/Titillium\ Web/TitilliumWeb-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb-Light';
  src: url('../assets/fonts/Titillium\ Web/TitilliumWeb-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb-LightItalic';
  src: url('../assets/fonts/Titillium\ Web/TitilliumWeb-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('../assets/fonts/Titillium\ Web/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('../assets/fonts/Titillium\ Web/TitilliumWeb-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb-SemiBoldItalic';
  src: url('../assets/fonts/Titillium\ Web/TitilliumWeb-SemiBoldItalic.ttf') format('truetype');
}
