/* Colors */
$color-primary: #C7F15C;
$default-font-color: #FFFFFF;
$default-font-color-transparent: rgb(245, 245, 245, 0.5);
$faded-font-color: #848181;
$font-color-light: #C2BABB;
$default-background-color: #202020;
$container-color: #363636;
$star-color: #EEAC47;
$heart-color: #ED4545;

/* Fonts */
$ttw-black: "TitilliumWeb-Black";
$ttw-bold: "TitilliumWeb-Bold";
$ttw-bold-italic: "TitilliumWeb-BoldItalic";
$ttw-extra-light: "TitilliumWeb-ExtraLight";
$ttw-extra-light-italic: "TitilliumWeb-ExtraLightItalic";
$ttw-italic: "TitilliumWeb-Italic";
$ttw-light: "TitilliumWeb-Light";
$ttw-light-italic: "TitilliumWeb-LightItalic";
$ttw-regular: "TitilliumWeb-Regular";
$ttw-semi-bold: "TitilliumWeb-SemiBold";
$ttw-semi-bold-italic: "TitilliumWeb-SemiBoldItalic";
$default-font-size: 16px;

/* Shadows */
$default-box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);

/* Borders */
$default-border-radius: 1rem;

/* Spaces */
$small: 0.5rem;
$medium: 1rem;
$large: 2rem;

/* Transitions */
$default-transition: 0.25s ease-in-out;
